<!DOCTYPE html>
<html>
<head>
    <title>CMS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> -->
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/"><img src="https://img.icons8.com/nolan/64/000000/disney-movies-.png"></a>
		<div class="" id="navbarNav">
			<ul class="nav nav-pills">						
				<li class="nav-item ">
					<a class="nav-link" href="/">Home</span></a>
				</li>
				<% if(!currentUser) {%>
					<li class="nav-item">
						<a class="nav-link" href="/login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/register">Sign up</a>
					</li>
				<% } else {%>
					<li calss="nav-item">
						<a href="/logout" class="nav-link">logout</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link"><strong><%=currentUser.username%></strong></a>
					</li>
				<% } %>
			</ul>
		</div>
	</nav>