<!DOCTYPE html>
<html>

<head>
	<title>CMS</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">

	<link rel="stylesheet" href="/public/css/bootstrap_utilities/main.css">
	<link rel="stylesheet" href="/public/css/bootstrap_utilities/container.css">
	<link rel="stylesheet" href="/public/css/bootstrap_utilities/navBar.css">
	<link rel="stylesheet" href="/public/css/bootstrap_utilities/form.css">
	<link rel="stylesheet" href="/public/css/bootstrap_utilities/button.css">

	<link rel="stylesheet" href="/public/css/style.css">

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/navbar.js"></script>
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> -->
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/"><img src="https://img.icons8.com/nolan/64/000000/disney-movies-.png"></a>
		<button onclick='navBar()' id='nav_btn' class="navbar-toggler collapsed" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="navbarNav">
			<div class="navbar-nav" id="navbarNav">
				<ul class="nav nav-pills" id='ul-nav'>
					<li class="nav-item ">
						<a class="nav-link" href="/">Home</span></a>
					</li>
					<% if(!currentUser) {%>
					<li class="nav-item">
						<a class="nav-link" href="/login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/register">Sign up</a>
					</li>
					<% } else {%>
					<li calss="nav-item">
						<a href="/logout" class="nav-link">logout</a>
					</li>
					<li class="nav-item">
						<a href="/profile/<%=currentUser._id%>"
							class="nav-link"><strong><%=currentUser.username%></strong></a>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>
	<div class='content'>