<% include partials/header %>
<% try{ %>
    <% if(error == "user"){ %>
        <script>alert('This username was token');</script>
    <% } %>
<% } catch(err){
    console.log("=".repeat(50));
    console.log("catch of username was token")
    console.log(err);
    console.log("=".repeat(50));
}%>

<div class="container">
    <h1>Sign UP</h1>
    <div class="container">
        <form action="/register" method="post">
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            </div>
            <input type="submit" value="Sign UP" class="btn btn-outline-primary">
    </form>
</div>
</div>
<% include partials/footer %>
