body
{
    background-color: #111;
    padding: .75%;
}

#home-page
{
    list-style: none;
}

.content
{
    margin-top: 1%; 
    background-color: #f8f9fa;
    padding: 1%;
}

#form-container
{
    height:75vh;
    padding: 5%;
}

/* a b c d e f */
#ul-nav>li>a {
    background-color: transparent;
    color: #0071ff;
}

#ul-nav>li>a:hover {
    background-color: #0071ff;
    color: #f8f9fa;
}

@media (max-width: 992.25px) {
    #ul-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        text-align: center;
    }
}