<% include ../partials/header %>
    <div class="container"></div>
        <h2>Title: <%= movie.movieName %></h2>
        <img src="<%=movie.imageSrc%>" alt="<%= movie.movieName %>">
        <h4>Story</h4>
        <h5><%= movie.story %></h5>
    </div>
<% include ../partials/footer %>