<% include ../partials/header %>
<div class="container">
    <div class="card">
        <img src="<%=movie.imageSrc%>" alt="<%= movie.movieName %>" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center">Title: <%= movie.movieName %></h5>
            <h5 style="text-align: center">Story</h5>
            <p class="card-text" style="text-align: center"><%= movie.story %></p>
        </div>
    </div>
</div>
<% include ../partials/footer %>